body{
  background-color: #bdc3c7;
}
hr {
	border-top: 1px solid #c0bfbf;
}
.table-notifications {
	height: 500px;
    overflow: auto;
}
.table-seats {
	height: 280px;
    overflow: auto;
}
.dl-horizontal.institution-info dt {
	text-align: left;
    margin-left: 20px;
}
.form-add-child .btn-sm, .form-add-seats .btn-sm , .select-institution .btn-sm {
	margin-top: 25px;
}
.table-tickets .btn-sm, .table-doctors .btn-sm, .table-request .btn-sm {
	margin-bottom: 5px;
	margin-right: 10px;
}
.form-group.select-institution {
    /*margin-bottom: 70px;*/
}
.modal-footer .btn-sm, .select-institution .btn-sm {
	margin-right: 10px;
}
.institution-information .btn-sm {
	margin-bottom: 10px;
}
.search-results, select#city, select#district {
	display: none;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}
.container .panel-body {
    padding: 15px;
}
.container-header .panel-buttons {
	padding: 10px 15px 0px;
}
.big-error {
	margin: 10px 15px 0px;
}
svg {
	display: block;
}
html, body, #chart, svg {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.nv-point
{
	fill-opacity: 1;
	stroke-opacity: 1;
}
.container-header
{
	margin: 5px;
}
.btn-space
{
	margin-left: 5px;
	margin-right: 5px;
}
.nv-point {
  stroke-opacity: 1 !important;
  stroke-width: 2px;
  fill-opacity: 1 !important;
}
.btn.btn-trash {
	padding: 3px 9px;
}
.btn.btn-hierarchy {
	padding: 2px;
	display: inline;
}
.CodeMirror {
	border: 2px inset #dee;
}
.table-hierarchy {
	margin: 4px;
}