<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/resources/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/assets/css/styles.css" rel="stylesheet" />
    <script src="/resources/assets/jquery-3.1.0.min.js"></script>
    <script src="/resources/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Adding project</title>
    <script>
        function addAndCheck() {
            if (jQuery("#owner").val().length == 0 || jQuery("#repo").val().length == 0) {
                jQuery('#error').html("You must specify owner and repository name!").show();
                return;
            }

            /*if ((jQuery("#owner").val().length !== 0 || jQuery("#repo").val().length !== 0)) {
                if (jQuery("#archive").val().length !== 0) {
                    jQuery('#error').html("You must download archive or specify Github repository (owner and repository name)! Not together!").show();
                    return;
                }
            }*/

            $.ajax({
                type : "POST",//"GET",
                contentType : 'application/x-www-form-urlencoded;',
                url : "/runcheck1",
                data: {
                    "title": jQuery("#title").val(),
                    "desc": jQuery("#desc").val(),
                    "owner": jQuery("#owner").val(),
                    "repo": jQuery("#repo").val(),
                    "commitOrBranch": jQuery("#commit-or-branch").val(),
                    "type": jQuery("#select_type option:selected").val(),
                    "username": jQuery("#username").val(),
                    "password": jQuery("#password").val(),
                    "attributes": jQuery("#attributes").val()
                },
                //dataType : 'json',
                timeout : 100000,
                success : function(data) {
                    if (data.success == true) {
                        jQuery('textarea#result').val(data.message);
                        jQuery('#error').hide();
                    }
                    else {
                        jQuery('#error').html(data.message).show();
                    }
                },
                error : function(e) {
                    //console.log("ERROR: ", e);
                }
            });
        }
    </script>
</head>
<body>
<div>
    <!--
	<h1>Project id <span data-th-text="${project_id}"></span>. Version id <span data-th-text="${version_id}"></span></h1>
    <h2 th:text="Hello"></h2>
    <div th:switch="${user.role}">
        <p th:case="'admin'">User is an administrator</p>
        <p th:case="#{roles.manager}">User is a manager</p>
        <p th:case="*">User is some other thing</p>
    </div>

    <div th:if="${customer.anonymous}"> if customer is anonymous
    <div>Welcome, Guest</div>
</div>

<div th:unless="${customer.anonymous}"> if customer is not anonymous(logged in)
    <div th:text=" 'Hi,' + ${customer.name}">Hi, User</div>
</div>
<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
  <span th:case="${false}">User is not logged in</span>
  <span th:case="${true}">Logged in user</span>
  <span th:case="*">Should never happen, but who knows...</span>
</div>
    -->
    <div class="container-header">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading text-center"><h3>Adding project</h3></div>
            <div class="panel-body">
                <form id="data" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="title">Title:</label>
                        <div class="col-sm-10">
                            <input id="title" type="text" value="" class="form-control" placeholder="Enter title" maxlength="255"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="desc">Description:</label>
                        <div class="col-sm-10">
                            <input id="desc" type="text" value="" class="form-control" placeholder="Enter description" maxlength="255"/>
                        </div>
                    </div>

                    <!--<div class="alert alert-info px-2">You can download archive or specify Github repository (owner and repository name)!</div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="archive">Archive:</label>
                        <div class="col-sm-10">
                            <input id="archive" type="file" class="form-control"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="owner">Owner:</label>
                        <div class="col-sm-10">
                            <input id="owner" type="text" value="" class="form-control" placeholder="Enter owner" maxlength="255"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="repo">Repository name:</label>
                        <div class="col-sm-10">
                            <input id="repo" type="text" value="" class="form-control" placeholder="Enter repository name" maxlength="255"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="commit-or-branch">Commit/branch:</label>
                        <div class="col-sm-10">
                            <input id="commit-or-branch" type="text" value="" class="form-control" placeholder="Enter commit or branch" maxlength="255"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <select class="selectpicker form-control" id="select_type">
                                <option value="0" selected="true">Commit</option>
                                <option value="1">Branch</option>
                            </select>
                        </div>
                    </div>

                    <div class="alert alert-info px-2">If the repository is private you must fill username and password!</div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="username" title="User on github">User name:</label>
                        <div class="col-sm-10">
                            <input id="username" type="text" value="" class="form-control" placeholder="Enter user name" maxlength="255"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="password" title="Password on github">Password:</label>
                        <div class="col-sm-10">
                            <input id="password" value="" type="password" class="form-control" placeholder="Enter password" maxlength="255"/>
                        </div>
                    </div>

                    <div class="alert alert-danger px-2" style="display:none" id="error"></div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="attributes" title="Attributes for borealis">Attributes:</label>
                        <div class="col-sm-10">
                            <input id="attributes" type="text" value="" class="form-control" placeholder="Enter attributes" maxlength="255"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-sm btn-primary" onclick="addAndCheck();"><span class="glyphicon glyphicon-upload"></span>&nbsp;Add&nbsp;&amp;&nbsp;check</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="result">Result of check:</label>
                        <div class="col-sm-10">
                            <textarea rows="5" cols="100" name="result" id="result" disabled="disabled" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
                <!--<button type="button" onclick="resetFilter();" class="btn btn-sm btn-space btn-primary" title="Reset date and time"><span class="glyphicon glyphicon-remove"></span></button>
                <button type="button" onclick="getSensorData(false);" class="btn btn-sm btn-space btn-primary" title="Search"><span class="glyphicon glyphicon-search"></span></button>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" id="export" onclick="exportPNG();">Export</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="export-csv" onclick="exportCSV(0);">Data in using period in details (.csv)</a></li>
                        <li><a href="#" id="export-csv" onclick="exportCSV(1);">Data just shown (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="export-csv" onclick="exportCSV(2);">Data during all time (.csv)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="export-png" onclick="exportPNG();">Data just shown (.png)</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary" id="remove-all" onclick="removeData();"><span class="glyphicon glyphicon-trash"></span>&nbsp;Remove all data</button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" id="remove-data" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="remove-all" onclick="removeData();">Remove all data</a></li>
                        <li><a href="#" id="remove-period" onclick="removeData(true);">Remove data in shown period</a></li>
                    </ul>
                </div>
                <button type="button" onclick="window.location.href='/sensorservice/deviceSensors/${sensor.deviceId?html}';" class="btn btn-sm btn-space btn-primary pull-right" title="Back to sensors">Back</button>
                -->
            </div>
        </div>
    </div>
</div>
</body>
</html>